    <section id="about" class="content-section text-center">
        <div class="about-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{{ title }} </h2>
                    <p>{{ description }}</p>

                    <!-- FACEBOOK -->
                    <p><a href="http://www.facebook.com/TuftsSouthAsians" target="_blank"><img src="img/fb.png" alt="fb" width="50" height="50"></a>

                    <!-- TWITTER --> 
                    <a href="http://www.twitter.com" target="_blank"><img src="img/twitter.png" alt="fb" width="50" height="50"></a>
              </div>
            </div>
        </div>
    </section>

    <!-- this should also include information about TASA umbrella groups -->