<style>

	.contact {
	    background: url(../img/site/cshow5.jpg) no-repeat center center scroll;
	    width: 100%;
	    padding:50px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

</style>

<div class="contact">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>{{ title }}</h2>
        <p>Feel free to email us at <a href="mailto:{{ email }}">{{ email }}</a>, or contact any one of our eboard members.</p>
    </div>
</div>
