<style>

	.eboard {
	    width: 100%;
	    padding:150px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	.banner {
	    background: url(../img/site/6.jpg) no-repeat center center scroll;
	    padding:5px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}


	.name {
		font-size: 24pt;
		font-family: 'Abril fatface';

	}

	.label {
		font-size: 18pt;
		font-family: 'Abril fatface';
		color: #353538;
	}

	.value {
		font-size: 16pt;
		font-family: 'Abril fatface';	
	}

	.desc {
		font-size: 16pt;
		font-family: 'Abril fatface';
		color: #D6B1BE;
	}

	.jumbotron {
		background: #E65353;
	}


	h1 {
	    font-size: 24pt;
		padding-bottom: 0px;
	}

    h2 {
        color: #AB969D;
        font-size: 24pt;
		font-family: 'Abril fatface';
    }
    .img-responsive:hover {
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
        -o-filter: grayscale(80%);
    }

	p{
		font-size: 16pt;
	}


</style>


<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril%20Fatface">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">


<!-- 	 <div class="container">

	<div class="eboard">
	    <div class="col-lg-8 col-lg-offset-2">
	        <p>{{ subtitle }}</p>
	    </div>


	    <div ng-repeat="member in eboard">
	    	<h1>{{ member.firstname }}  {{ member.lastname }}</h1>
	    	<h2><i> {{ member.position }} </i></h2>
	    		    	<a href="mailto:{{ member.email }}">{{ member.email }}</a><br>
	    	<div class="label">hometown :</div> {{ member.hometown }}<br>
	    	<div class="label">major :</div> {{ member.major }}<br>



	      <img ng-src="../img/eboard/{{ member.lastname }}.jpg" class="img-circle" alt="{{ }}" width="200" height="200">
	<br>

	    	<p>"{{ member.desc }}"</p><br>


	    	<br><br>
	    </div>



	</div>
	</div> -->





<div class="eboard ontainer-fluid">
	<div class="banner col-lg-8 col-lg-offset-2">
		<h1>{{ title }} '14-15</h1>
	</div>

	<!-- PROFILES -->
    <div ng-repeat="member in eboard" class="row">
    		<hr />
        <div class="col-lg-6 col-md-6 col-sm-1">
            <a href="mailto:{{ member.email }}">
                <img class="thumbnail img-responsive" alt="Bootstrap template" ng-src="../img/eboard/{{ member.lastname }}.jpg" />
            </a>
        </div>
        <div class="container jumbotron col-lg-6 col-md-6">
            <div class="name">{{ member.firstname }} {{ member.lastname }}</div>
            <h2><i>{{ member.position }}</i></h2>

			<dl class="dl-horizontal">
			  <dt class="label">Hometown</dt>
			  <dd class="value">{{ member.hometown }}</dd>
			  <dt class="label">Major</dt>
			  <dd class="value">{{ member.major }}</dd>
			</dl>

            <blockquote class="blockquote-reverse">
				<p> "{{ member.desc }}"</p>
			</blockquote>
   
        </div>

    </div>


    </div>
</div>

