<style>

	.gallery {
	    width: 100%;
	    padding:100px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

    h1, h2, h3, h4 {
        color: #333;
    }

</style>




<div class="gallery container">
    <div class="row">
        <div class="text-center">
            <h1>Gallery</h1>
        </div>
        <div class="container">
            <div ng-repeat="photo in photos" class="col-md-3">
                    <img class="thumbnail img-responsive" alt="{{ photo.album }}" 
                        src="{{ photo.src }}" />
            </div>
        </div>
    </div>
</div>





