<style>

	.gallery {
	    width: 100%;
	    padding:50px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

    html,body{background:#222;margin:0;}
    body{border-top:4px solid #000;}
    .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
    h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
    p{margin:0 0 20px}
    a {color:#22BCB9;text-decoration:none;}
    .cred{margin-top:20px;font-size:11px;}


    #galleria{height:320px}

</style>



<link rel="stylesheet" type="text/css" href="../css/galleria.classic.css" />


<div class="gallery">
	<div class="content">
        <h1>{{ title }}</h1>
        <div id="galleria">
    	    <a ng-repeat="photo in photos" href="{{ photo.src }}">
    	    	<img ng-src="{{ photo.picture }}", data-big="{{ photo.src }}", data-title="{{ photo.album }}", data-description="">
    	    </a>
        </div>
    </div>
    
    <p class="cred">
        Made with <a href="http://galleria.aino.se">Galleria</a>.
    </p>
</div>

<script>
    // Load classic theme
    Galleria.loadTheme('../js/galleria.classic.min.js');

    // Initialize Galleria
    Galleria.run('#galleria');
</script>