<style>

	.gallery {
	    width: 100%;
	    padding:100px;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

    .banner {
        background: url(../img/site/cshow10.jpg) no-repeat center center scroll;
        padding:5px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .img-responsive:hover {
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
        -o-filter: grayscale(80%);
    }

    h2, h3, h4 {
        color: #333;
    }



</style>



<div class="gallery container">
    <div class="row">
        <div class="text-center banner">
            <h1>Gallery</h1>
        </div>
        <div class="container">
            <div ng-repeat="album in albums">
                <div class="text-left"><h3><u>{{ album.name }}</u></h3></div>
                    <div ng-repeat="photo in album.photos" class="col-md-3">
                    <a href="{{ photo.src }}" target="_blank"><img class="thumbnail img-responsive" alt="{{ album.name }}" 
                        src="{{ photo.src }}" /></a>
                    </div>
            </div>
        </div>
    </div>
</div>





